name: MetaMask Security Code Scanner

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
    secrets:
      SECURITY_SCAN_METRICS_TOKEN:
        required: false
      APPSEC_BOT_SLACK_WEBHOOK:
        required: false
  workflow_dispatch:

jobs:
  security-scan:
    uses: witmicko/action-security-code-scanner/.github/workflows/security-scan.yml@main
    permissions:
      actions: read
      contents: read
      security-events: write
    with:
      repo: ${{ github.repository }}
      scanner-ref: 'main'
      paths-ignored: |
        **/vendor/**
        **/*_test.go
        **/testdata/**
      languages-config: |
        [
          {
            "language": "go",
            "build_mode": "none"
          },
                    {
            "language": "cpp",
            "ignore: true
          },
           {
              "language": "java",
              "build_mode": "autobuild",
              "version": "21",
              "distribution": "temurin"
            },
        ]
    secrets:
      project-metrics-token: ${{ secrets.SECURITY_SCAN_METRICS_TOKEN }}
      slack-webhook: ${{ secrets.APPSEC_BOT_SLACK_WEBHOOK }}